-const pageTitle = 'Plantilla base'

//- SEO
-const author = 'Nombre'
-const twitterName = 'Perfil de twitter'
-const type = 'website'
-const description = 'Plantilla base para compilar html, css y javascript'
-const keywords = 'Las, keyword, van, separadas, por, coma'
-const url = 'La url en el servidor ej: http://www.miweb.com'
-const image = url + 'la ruta de la imágen (puede ser un screen de la web)'