-const pageTitle = 'Template base 23'

//- SEO
-const author = 'Ramsua'
-const twitterName = '@RichardRamSua'
-const type = 'website'
-const description = 'Plantilla base para compilar html, css y javascript'
-const keywords = ''
-const url = ''
-const image = url + ''